.intro {
    background: radial-gradient(at top, #FEFFFF, #f0f5f5);
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    font-size: 12px;
}

.logo {
    width: 31px;
    height: 25px;
}

.menu {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
    /*убираем левый отступ, равный 40px*/
    display: flex;
}

.menu--item {
    margin-left: 25px;
}

.menu--item a {
    transition: color 0.3s;
}

.menu--item a:hover {
    color: #85e0e0;
}

.button {
    background-color: #1CC0B6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.intro--content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.intro--info {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.intro--img {
    width: auto;
    height: 400px;
}

.intro--title {
    font-size: 38px;
}

.intro--description {
    color: grey;
    font-size: 18px;
    line-height: 1.556;
}


.about--signature {
    width: auto;
    height: 150px;
    padding-left: 550px;
    padding-bottom: 50px;
    display: flex;  
}

.about--title {
    font-size: 36px;
    display: flex;
    text-align: center;
    padding-top: 100px;
    padding-left: 530px;    
}

.about--description {
    color: grey;
    font-size: 18px;
    line-height: 1.556;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

.row--achievements {
    height: 200px;
    background-color:#1CC0B6;
    color: white;
    display: flex;
    justify-content: center;
    padding-left: 130px;
    align-items: center;
    padding-top: 45px;
}

.row--projects {
    height: 500px;
    background:radial-gradient(at top, #FEFFFF, #f0f5f5);;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-left: 80px;

}

.img--projects--1 { /* как задать фон чтобы он заполнял весь квадрат а не маленькую часть вокруг лаптопа?*/
    width: auto;
    height: 100px;
}

.img--projects--2 {
    width: auto;
    height: 100px;
}

.img--projects--3 {
    width: auto;
    height: 100px;
}

.img--projects--4 {
    width: auto;
    height: 100px;
}

.img--projects--5 { /* как задать фон чтобы он заполнял весь квадрат а не маленькую часть вокруг лаптопа?*/
    width: auto;
    height: 100px;
    display: flex;
}

.img--projects--6 {
    width: auto;
    height: 100px;
}

.img--projects--7 {
    width: auto;
    height: 100px;
}

.img--projects--8 {
    width: auto;
    height: 100px;
}

