.intro {
    background: radial-gradient(at top, #FEFFFF, #f0f5f5);
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    font-size: 12px;
}

.logo {
    width: 31px;
    height: 25px;
}

.menu {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
    /*убираем левый отступ, равный 40px*/
    display: flex;
}

.menu--item {
    margin-left: 25px;
}

.menu--item a {
    transition: color 0.3s;
}

.menu--item a:hover {
    color: #85e0e0;
}

.button {
    background-color: #1CC0B6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.intro--content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro--info {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.intro--img {
    width: auto;
    height: 400px;
}

.intro--title {
    font-size: 38px;
    margin-bottom: 30px;
}

.intro--description {
    color: grey;
    font-size: 18px;
    line-height: 1.556;
    margin-bottom: 30px;
}

.about {
    padding: 50px 0;
    text-align: center;
}

.about--signature {
    width: auto;
    height: 150px;
}

.about--title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.about--description {
    color: grey;
    font-size: 18px;
    line-height: 1.556;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

.achievements {
    background-color: #1CC0B6;
    color: white;
    padding: 50px 0;
}

.achievements--logo {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.achievements--card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects--row-1 .project:nth-child(2n) {
    background: #eee;
}

.projects--row-2 .project:nth-child(2n-1) {
    background: #eee;
}

.project--img {
    width: 100%;
    height: auto;
}

.project {
    position: relative;
}

.project::after {
    content: "";
    transition: background-color 0.3s;
}

.project:hover::after {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(Piroll/eye.png);
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button__projects {
    width: 100%;
    background-color: #eee;
    color: black;
    text-transform: uppercase;
}

.feedback {
    padding: 50px 0;
}

.feedback--title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px ;
}

.feedback--text {
    color: gray;
    max-width: 500px;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 30px;
}

.form {
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(at top, #FEFFFF, #f0f5f5);
}

input[type=text] {
    /*нихера не получается на одну строку имя и имейл запихать */
    border: none;
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
}

input[type=email] {
    border: none;
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
}

input[type=comment] {
    border: none;
    width: 100%;
    height: 130px;
    padding-left: 20px;
    padding-top: 0;
    box-sizing: border-box;
    padding-bottom: 45px;
}

.message {
    margin-top: 40px;
    background-color: #1CC0B6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.info--footer {
    background-color: rgb(24, 23, 23);
    color: white;
    height: 200px;
}

.company--info {
    display: inline-flex;
    justify-items: flex-end;
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: calc(45px/2);
}

.contacts {
    display: inline-flex;
    justify-items: flex-end;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: calc(45px/2);
}

.sitemap--1 {
    /* ну почему он не выравнивается вправо ?((((*/
    display: inline-flex;
    justify-items: flex-end;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: calc(45px/2);
}

.sitemap--2 {
    /* ну почему он не выравнивается вправо ?((((*/
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: calc(45px/2);
}