.intro--content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro--info {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.intro--img {
    width: auto;
    height: 400px;
}

.intro--title {
    font-size: 38px;
    margin-bottom: 30px;
}

.intro--description {
    color: grey;
    font-size: 18px;
    line-height: 1.556;
    margin-bottom: 30px;
}

.intro {
    background: radial-gradient(at top, #FEFFFF, #f0f5f5);
    height: 100vh;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.5s;
    z-index: 1;
}

.navigation__dark {
    background-color: #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    font-size: 12px;
}

.logo {
    width: 31px;
    height: 25px;
}

.menu {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
    /*убираем левый отступ, равный 40px*/
    display: flex;
}

.menu--item {
    margin-left: 25px;
}

.menu--item a {
    transition: color 0.3s;
}

.menu--item a:hover {
    color: #85e0e0;
}
